.Cards {
  display: flex;
  gap: 20px;
}
.parentContainer{
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .Cards{
    flex-direction: column;
    width: 100%;
  }
  .parentContainer{
    height: 9rem;
  }
}

@media screen and (max-width: 768px)
{
  .Cards{
    width: 90%;
    margin-top: 10px;
  }
}
