.RightSide{
    display: flex;
    flex-direction: column;  
    /* padding-top: 1rem; */
    width: 100%;
    justify-content: space-evenly;
}

.rs-l 
{
    width: 90%;
}

.rs-r
{
    display: flex;
    width: 100%;
    gap: 20px;
}


@media screen and (max-width: 1200px) {
    .RightSide{
        justify-content: flex-start;
        margin-top: 5rem;
        width: 100%;
    }
}

@media screen and (max-width: 768px)
{
    .RightSide{
        width: 100%;
        margin-top: 0;
    }
    .RightSide>div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .rs-l{
        width: 100%;
    }
    .rs-r{
        width: 100%;
    }
}